/* Цвет кнопок первичный #2196F3 */
/* Цвет заголовков #212121 */
/* Цвет текста в абзацах #757575  */
/* Цвет текста белый #ffffff */
/* цвет ссылок в футере rgba(255,255,255, .6) */

/* Оформление элементов с общим дизайном */
:root {
  --primary-color: #2196f3;
  --headings-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --bcg-color: #2f303a;
  --logo-last-part1-color: #000000;
  --logo-last-part2-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

/* Классы-утилиты */

/* убирает стили у всех списков */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* добавляет нижний отступ для хедера в портфолио */
.bottom-margin {
  margin-bottom: 94px;
}

/* убирает нижний зазор у картинок с тегом img */

img {
  display: block;
}

/* универсальный контейнер */

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  /* background-color: lightblue; */
}

/* Оформление хедера */

.page-header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.nav :last-child {
  margin-right: 0;
}

.auth {
  display: flex;
  margin-left: auto;
}

.auth .item {
  margin-right: 50px;
}

.auth :last-child {
  margin-right: 0px;
}

/* Оформление логотипа */

.logo-first {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--primary-color);
}

.logo-second {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--logo-last-part1-color);
}

.logo-third {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--logo-last-part2-color);
}

/* ОФормление навигации */

.nav .nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--headings-color);
}

.nav .nav-links:hover,
.nav .nav-links:focus {
  color: var(--primary-color);
  border: none;
}

.nav .nav-links.current {
  color: #2196f3;
}

/* Оформление ссылок в секции контактов */

.auth .auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.auth .auth-nav:hover,
.auth .auth-nav:focus {
  color: var(--primary-color);
}

/* Оформляем Hero */

.hero {
  background-color: var(--bcg-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.hero > .container {
  margin-bottom: 94px;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  /* background-color: lightgreen; */
}

/* оформление секций */

.section > .container {
  margin-bottom: 94px;

  background-color: lightpink;
}

.title {
  margin: 0 0 10px 0;
  padding: 0;
}

.section-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--headings-color);
}

/* What we do */

.container > .section-title {
  margin-bottom: 50px;
}

.advantagies-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--headings-color);
}

.advantagies-list .title {
  font-size: 14px;
  line-height: 1.71;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--headings-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
}

/* Оформление адреса в футуре  */

.footer-bcg {
  background-color: var(--bcg-color);
}

.footer-bcg .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container .logo-third {
  display: block;
  margin-bottom: 20px;
}

.footer-info .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  color: var(--primary-text-color);
}

.footer-info .link:hover,
.footer-info .link:focus {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.footer-info .geo-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: var(--secondary-text-color);
}

/* Оформление кнопки для Hero*/

.hero .button {
  display: inline-block;
  min-width: 200px;

  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;

  font-family: inherit;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Оформление страницы Portfolio */

.filtr {
  margin-bottom: 50px;
  background-color: magenta;
}

/* Офорляем секции в main */

.projects .example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--headings-color);
}

.projects .link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.projects .text {
  font-size: 16px;
  line-height: 1.87;
}

/* оформление кнопок в main страницы Portfolio */

.submenu .submenu-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 6px;

  border: 1px solid #f5f4fa;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--headings-color);
  background-color: #f5f4fa;
}

.submenu .submenu-button:hover,
.submenu .submenu-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color) solid transparent;
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.submenu .submenu-button.current {
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
